<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <style>
        a{
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
<h1>Kliknij w tytuł filmu, by dowiedzieć się więcej:</h1>
<table>
    <thead>
    <tr>
        <th>Tytuł</th>
        <th>Opis</th>
        <th>Gatunek</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${movies}">
        <td><a href="/long"><span th:text="${movie.getTitle()}"></span></a></td>
        <td><span th:text="${movie.getShortSum()}"></span></td>
        <td><span th:text="${movie.getGenre()}"></span></td>
    </tr>
    </tbody>
</table>
</body>
</html>